.Dynamic-container {
    width: 88%;
    margin-left: 2rem;
}

.Dynamic-container h1 {
    margin: 1rem 0;
    margin-bottom: 0;
    text-align: left;
    font-weight: 700;
    text-transform: capitalize;
}

.Dynamic-container > button {
    background: #18C6AC;
    border: none;
    border-radius: 10px;
    color: white;
    height: 2.5rem;
    padding: 0 20px;
}

@media (max-width: 726px) {
    .Dynamic-container h1 {
        margin-top: 10px;
        text-align: center;
        border-bottom: 2px solid #C5D6D5;
    }
    .Dynamic-container > button {
        margin-top: 10px;
    }
}