.App {
  text-align: center;
}

.App-container {
  width: 100%;
  margin: 1rem 2rem;
}

.App-search {
  margin-right: 100px;
}

.App-content {
  margin-right: 100px;
  display: flex;
  /* justify-content: center; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
