.App {
  text-align: center;
}

.App-container {
  width: 100%;
  margin: 1rem 2rem;
}

.App-search {
  margin-right: 100px;
}

.App-content {
  margin-right: 100px;
  display: flex;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 726px) {
  .App-container {
    margin: 0;
    padding-bottom: 5rem;
  }
  .App-content {
    min-height: 41rem;
    margin: 0;
    justify-content: center;
  }
  .App-search {
    margin: 0;
  }
  .Dynamic-container {
    margin: 0;
  }
}
