.NavBar-container {
    width: 11rem;
    border-right: 1px solid #E6E6E6;
    min-height: 85vh;
}

.NavBar-title {
    margin: 1.8rem 1rem 0 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #E6E6E6;
    letter-spacing: 0.1rem;
}

.NavBar-list {
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 0;
}

.NavBar-container a {
    text-decoration: none;
    color: #99ABA9;
    text-align: left;
    display: flex;
    align-items: center;
}

.NavBar-container a.isActive {
    color: #18C6AC;
    font-weight: 500;
}

.NavBar-container a.isActive img {
    filter: invert(59%) sepia(100%) saturate(349%) hue-rotate(121deg) brightness(88%) contrast(95%);
}

.NavBar-container li {
    text-align: left;
    margin: 0.8rem 0;
    
}

.NavBar-container span {
    padding-left: .6rem;
    text-transform: capitalize;
}

@media (max-width: 726px) {
    .NavBar-container {
        min-height: unset;
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 4rem;
        bottom: 0rem;
        background: white;
        padding: 10px 0 15px 0;
        box-shadow: 0px -4px 10px 0px #0000000F;
    }
    .NavBar-title {
        display: none;
    }
    .NavBar-list {
        width: 100%;
        margin: 0;
    }

    .NavBar-list {
        display: flex;
        justify-content: space-evenly;
    }
    .NavBar-container a {
        flex-direction: column;
      
        align-items: center;
    }
    .NavBar-container span {
        padding: 0;
        padding-top: 10px;
    }
}
