.ListItem-card {
    height: 225px;
    width: 209px;
}

.ListItem-card-content {
    margin: 0 auto;
    margin-top: 12px;
    height: 118px;
    width: 189px;
}

.ListItem-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.ListItem-card h3 {
    margin: 0.15rem 0;
    height: 1rem;
    text-align: left;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem-card p {
    margin: 0;
    height: 3rem;
    color: #A3B7B5;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.ListItem-card button {
    font-family: unset;
    margin: 0 auto;
    margin-top: 0.7rem;
    padding: 0;
    background: transparent;
    border-style: none;
    font-size: 0.875rem;
    line-height: 1rem;
}

.ListItem-card a {
    text-decoration: none;
    color: unset;
}

.ListItem-card-favorite {
    color: transparent;
    display: flex;
    align-items: center;
}

.heart {
    width: .7rem;
    height: .7rem;
    padding-right: .2rem;
    opacity: 0;
}

@media (max-width: 726px) {
    .ListItem-card {
        height: 270px;
        width: 260px;
    }
    .ListItem-card-favorite {
        color: black;
    }
    .heart {
        opacity: 1;
    }
    .ListItem-card-content {
        margin-top: 0;
        width: 100%;
    }
    .ListItem-card img {
        border-radius: 0;
    }
    .ListItem-card h3 {
        padding-left: 20px;
    }
    .ListItem-card p {
        padding-left: 20px;
    }
}